.navbar .content .search-container {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar .content .search-input {
  width: 240px;
  padding: 6px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}

.navbar .content .search-btn:hover {
  opacity: 0.7;
}

.navbar {
  background-image: url("/images/home/navbar.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 14px 24px;
}

.navbar .content .menu-icon {
  display: none;
}

.navbar .content,
.navbar .content .header a,
.navbar .content .links nav ul,
.navbar .content .icons-and-btn,
.navbar .content .icons-and-btn button {
  display: flex;
}

.navbar .content,
.navbar .content .header a,
.navbar .content .icons-and-btn,
.navbar .content .icons-and-btn button {
  align-items: center;
}

.navbar .content .header a,
.navbar .content .links nav ul li a {
  color: #000;
}

.navbar .content {
  justify-content: space-between;
  padding: 14px 0px;
}

.navbar .content .header a {
  text-decoration: none;
}

.navbar .content .header a h1 {
  font-size: 16px;
  text-transform: none;
}

.navbar .content .links nav ul {
  gap: 40px;
}

.navbar .content .links nav ul li {
  list-style: none;
}

.navbar .content .links nav ul li,
.navbar .content .mobile-menu ul li {
  cursor: pointer;
}

.navbar .content .links nav ul li:hover,
.navbar .content .mobile-menu ul li:hover {
  text-decoration: underline #ffcb45;
}

/* .navbar .content .links nav ul li a {
  text-decoration: none;
}

.navbar .content .links nav ul li a:hover {
  text-decoration: underline 2px #ffcb45;
} */

.navbar .content .icons-and-btn {
  gap: 40px;
}

.navbar .content .icons-and-btn button {
  justify-content: center;
  gap: 8px;
  background-color: #ffcb45;
  border: none;
  width: 102px;
  height: 32px;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.navbar .content .icons-and-btn button:hover {
  opacity: 0.8;
}

.navbar .content .icons-and-btn .searchIcon,
.navbar .content .icons-and-btn .cartIcon {
  transition: 0.3s ease-in;
}

.navbar .content .icons-and-btn .searchIcon:hover,
.navbar .content .icons-and-btn .cartIcon:hover {
  fill: #ffcb45;
}

.navbar .mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 80%;
  height: 100vh;
  background-color: rgba(255, 203, 69, 0.95);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: right 0.3s ease-in-out;
  z-index: 999;
}

.navbar .mobile-menu.open {
  right: 0;
}

.navbar .mobile-menu ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

.navbar .mobile-menu ul li {
  margin: 40px 0;
}

.navbar .mobile-menu ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  transition: color 0.3s ease-in-out;
}

.navbar .mobile-menu ul li a:hover {
  color: #ffcb45;
}

.navbar .content .icons-and-btn .search-btn,
.navbar .content .icons-and-btn .cart-btn {
  width: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar .content .search-results {
  list-style: none;
  position: absolute;
  top: 5.5%;
  width: 239px;
  padding: 0;
  margin-top: 6px;
  background: white;
  border-top: 1px solid #ddd;
  max-height: 200px;
  overflow-y: auto;
}

.navbar .content .search-result-item {
  padding: 8px;
  cursor: pointer;
  transition: background 0.2s;
}

.navbar .content .search-result-item:hover {
  background: #f1f1f1;
}

.navbar .content .no-results {
  color: grey;
  text-align: center;
}

/* Close Button */

.navbar .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.navbar .content .cart-btn {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

/* Media Queries */

/* 2xl */
@media (max-width: 1536px) {
  .navbar .content .search-results {
    top: 6.3%;
  }
}

/* xl */
@media (max-width: 1280px) {
  .navbar .content .links nav ul li a {
    font-size: 14px;
  }
  .navbar .content .search-results {
    top: 6.2%;
  }
}

/* lg */
@media (max-width: 1024px) {
  .navbar .content .links nav ul {
    gap: 20px;
  }
  .navbar .content .search-input {
    position: absolute;
    top: 8%;
    left: 55%;
  }
  .navbar .content .search-results {
    top: 10.8%;
    left: 55.1%;
    z-index: 1000;
  }
}

/* md */
@media (max-width: 768px) {
  .navbar .content .icons-and-btn,
  .navbar .content .links {
    display: none;
  }
  .navbar .content .menu-icon {
    display: flex;
  }
}

/* sm */
@media (max-width: 640px) {
}

/* xs */
@media (max-width: 475px) {
}
