/* How It Works */

.how-it-works {
  margin-top: 40px;
}

.how-it-works .content .text h3,
.how-it-works .content p {
  text-align: center;
}

.how-it-works .content .text h3 {
  margin: 12px 0;
  font-weight: bold;
}

.how-it-works .content p {
  color: #1d1d1d;
}

.how-it-works .content p span {
  color: #ffcb45;
}

/* Menu */

.menu,
.menu .content .menu-btn {
  margin-top: 40px;
}

.menu .content .text h3,
.menu .content .text p {
  text-align: center;
}

.menu .content .text h3 {
  margin: 12px 0;
  font-weight: bold;
}

.menu .content .text p {
  color: #1d1d1d;
}

.menu .content .text p span {
  color: #ffcb45;
}

.menu .content .menu-btn {
  display: flex;
  justify-content: center;
}

.menu .content .menu-btn button {
  background-color: #ffcb45;
  border: none;
  width: 102px;
  height: 32px;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.menu .content .menu-btn button:hover {
  opacity: 0.8;
}

/* Customers */

.customers {
  margin-top: 40px;
}

.customers .content,
.customers .content .right-wrapper {
  display: flex;
}

.customers .content {
  align-items: center;
  justify-content: space-around;
  padding: 0 80px;
}

.customers .content .right-wrapper {
  flex-direction: column;
  gap: 20px;
}

.customers .content .right-wrapper .text p {
  margin-bottom: 12px;
}

.customers .content .right-wrapper .text p span {
  color: #ffcb45;
  font-size: 18px;
  font-weight: 500;
}

.customers .content .right-wrapper .text h3 {
  font-weight: bold;
  font-size: 38px;
}

/* Discount */

.discount {
  margin-top: 40px;
}

.discount .content {
  background-image: url("/images/home/unsplash_2lWGQ02DGL8.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 40px;
  gap: 80px;
  border-radius: 12px;
}

.discount .content p {
  font-size: 48px;
  color: #fff;
  text-align: center;
}

.discount .content button {
  background-color: #ffcb45;
  border: none;
  width: 102px;
  height: 32px;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.discount .content button:hover {
  opacity: 0.6;
}

/* Media Queries */

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
  /* Customers */
  .customers .content {
    padding: 0;
  }
  .customers .content .right-wrapper .text h3 {
    font-size: 28px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
  /* Customers */
  .customers .content {
    gap: 20px;
  }
  .customers .content .banner {
    width: 340px;
  }
  .customers .content .right-wrapper .text h3 {
    font-size: 22px;
  }
  /* Discount */
  .discount .content p {
    font-size: 38px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  /* Customers */
  .customers .content {
    flex-direction: column-reverse;
  }
  .customers .content .banner {
    width: 70%;
  }
  .customers .content .right-wrapper .text {
    text-align: center;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
  /* How it works */
  .how-it-works .content .text h3 {
    font-size: 24px;
  }
  .how-it-works .content .text p {
    font-size: 14px;
  }
  /* Menu */
  .menu .content .text h3 {
    font-size: 24px;
  }
  .menu .content .text p {
    font-size: 14px;
  }
  /* Discount */
  .discount .content p {
    font-size: 28px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
  /* Discount */
  .discount .content p {
    font-size: 22px;
  }
}
