/* How It Works */

.how-it-works {
  margin-top: 40px;
}

.how-it-works .content .text h3,
.how-it-works .content p {
  text-align: center;
}

.how-it-works .content .text h3 {
  margin: 12px 0;
  font-weight: bold;
}

.how-it-works .content p {
  color: #1d1d1d;
}

.how-it-works .content p span {
  color: #ffcb45;
}

/* Menu */

.menu {
  margin-top: 40px;
}

.menu .content .text h3,
.menu .content .text p {
  text-align: center;
}

.menu .content .text h3 {
  margin: 12px 0;
  font-weight: bold;
}

.menu .content .text p {
  color: #1d1d1d;
}

.menu .content .text p span {
  color: #ffcb45;
}

/* Media Queries */

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
  /* How it works */
  .how-it-works .content .text h3 {
    font-size: 24px;
  }
  .how-it-works .content .text p {
    font-size: 14px;
  }
  /* Menu */
  .menu .content .text h3 {
    font-size: 24px;
  }
  .menu .content .text p {
    font-size: 14px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
}
